.fox {
  position: relative;
  margin-top: 1em;

  &:hover {
    .fox__author {
      opacity: 1;
      bottom: -4em;
    }
  }
}

img {
  opacity: 0;
  transition: .3s opacity ease-in;

  .loaded & {
    opacity: 1;
  }
}

.steam {
  position: absolute;
  top: 57%;
  left: 16%;
}

.steam img {
  opacity: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 1.6em;
  width: .6em;
  z-index: 2;
  animation: steam 3s forwards infinite ease-in-out;

  &:nth-child(2) {
    top: 0.4em;
    animation-delay: .5s;
  }

  &:nth-child(3) {
    top: 0.6em;
    animation-delay: .9s;
  }
}

.fox .body {
  max-width: 100%;
}

.fox .nose {
  position: absolute;
  top: 49.5%;
  width: 11%;
  left: 45%;
  animation: nose 1s alternate infinite linear 1s;
}

.fox .tail {
  width: 17%;
  position: absolute;
  right: 1em;
  bottom: 4.3%;
  transform: rotate(20deg);
  transform-origin: 50% 150%;
  z-index: -1;
  animation: wiggle .3s alternate infinite ease-in-out;
}

.fox__author {
  position: absolute;
  padding: .5rem;
  background: white;
  border-radius: 4px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.2);
  bottom: -3em;
  width: 100%;
  font-size: .7rem;
  opacity: 0;
  transition: all .3s ease-in-out .3s;
}

@keyframes wiggle {
  0% { transform: rotate(2deg); }
  100% { transform: rotate(5deg); }
}

@keyframes nose {
  0% { transform: translateY(1px); }
  10% { transform: translateY(0px); }
  100% { transform: translateY(0px); }
}

@keyframes steam {
  0% { opacity: 0; transform: translateY(0) scale(.3); }
  50% { opacity: .6; }
  85% { opacity: 0; }
  100% { transform: translateY(-1em) scaleY(.7); opacity: 0;  }
}

.svg-steam {
  position: absolute;
  left: -9999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}