$sans-serif: 'freight-sans-pro', Helvetica, sans-serif;

.footer {
  width: 100%;
  background-color: #333;

  &-content {
    flex-wrap: wrap;
    font-family: $sans-serif;
    display: flex;
    padding: 1.5em;
    font-size: .812rem;
    align-items: center;
    justify-content: space-between;
    color: #fcfcfc;
  }
}
